{% extends "_base.html" %}

{% block content %}
<div class="no-scrollbar river">
    <div class="p-4 text-center w-full text-5xl font-semibold text-teal-900 font-serif">
    <h1> Ganga River(Haridwar) </h1>
    </div>

    <div class="pt-16 flex justify-around items-center">
        <div>
    <div class="p-4 text-center w-full text-2xl font-semibold text-black font-serif">
        <h1> Air Weather </h1>
        <div class="p-16 w-full text-lg ">
            <div class="flex flex-col justify-center items-center space-y-4">
            <span> Air Quality Index(AQI): 203 </span>
        <span> Temprature: 40* C</span>
            <span> Humidity: 45% </span>
            <span class="text-green-600"> Safe to Visit  </span>
            </div>
        </div>
    </div>
        </div>
        <div>
    <div class="p-4 text-center w-full text-2xl font-semibold text-black font-serif">
        <h1> River Water Status </h1>
        <div class="p-16 w-full text-lg ">
        <div class="flex flex-col justify-center items-center space-y-4">
            <span>Ph Value: 8</span>
            <span>Temprature: 40* C</span>
            <span>Turbidity: 0.2 NTU</span>
            <span class="text-green-600"> Safe to Bath</span>
        </div>
        </div>
    </div>
        </div>

    </div>
   

</div>
<div>
    <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
            <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
            <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
    </svg>
</div>


<footer class="fixed bottom-0 w-full bg-green-50 border-gray-200 px-2 sm:px-4 rounded dark:bg-gray-800 text-white text-center py-4">
    <p>&copy; 2023 River Monitoring Network</p>
</footer>


{% endblock content %}
