{% extends "_base.html" %}

{% block content %}

<div class="flex justify-center items-start h-screen w-full"> 

    <form id="inputForm" class="w-2/3 mt-16">
        <div class="header">
            <div class="header__grid">
                <div class="content">
                    <div class="content__grid">
                        <div class="col-12-s6-m4" id="method">
                            <label class="input__label">Upload Method</label>
                            <div>
                                <button data-value="upload" id="computerButton"
                                    class="bttn left fill active">Upload</button>
                                <button data-value="url" id="urlButton" class="bttn right fill">URL</button>
                            </div>
                        </div>

                        <div class="col-12-m8" id="fileSelectionContainer">
                            <label class="input__label" for="file">Select File</label>
                            <div class="flex">
                                <input class="input input--left flex-1" type="text" id="fileName" disabled />
                                <button id="fileMock" class="bttn right active">Browse</button>
                            </div>
                            <input style="display: none;" type="file" id="file" />
                        </div>

                        <div class="col-12-m8" id="urlContainer">
                            <label class="input__label" for="file">Enter Image UR</label>
                            <div class="flex">
                                <input type="text" id="url" placeholder="https://path.to/your.jpg" class="input" /><br>
                            </div>
                        </div>

                        <div class="col-6-m3" id="format">
                            <label class="input__label"></label>
                            <div>
                                <button id="imageButton" data-value="image" class="active"></button>
                                <!-- <button id="jsonButton" data-value="json" class="bttn right fill">JSON</button> -->
                            </div>
                        </div>
        
                        <div class="col-12">
                            <button type="submit" value="Run Inference" class="bttn__primary">Check Polution</button>
                        </div>
                    </div>
                    <div class="result mb-24" id="resultContainer" class="mb-10">
                        <div class="divider"></div>
                        <div class="result__header">
                            <h3 class="headline">Result</h3>
                            <a href="#"></a>
                        </div>
                        <pre id="output" class="codeblock" /> here is your json </pre>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
</div>
    <div class="fixed bottom-0 left-0 w-full">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <footer
        class="fixed bottom-0 w-full bg-green-50 border-gray-200 px-2 sm:px-4 rounded dark:bg-gray-800 text-white text-center py-4 mt-8">
        <p>&copy; 2023 River Monitoring Network</p>
    </footer>



{% endblock content %}

